
@{
    ViewBag.Title = "Dashboard";
}

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <div> 
        <h1>This is my dashborad </h1>
        <h1> 200 users visited </h1>
    </div>
</body>
</html>