
@{
    ViewBag.Title = "About";
    TempData.Keep();
}

<h2>About</h2>

<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>
    language is @TempData["language"] <br />
    The age is @TempData["age"] <br />
    subject name is @TempData["computer"] <br />

</body>
</html>