
@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
</head>
<body>
    <div>
        <h1>This is contact us page</h1>
    </div>
</body>
</html>