
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table border ="1">
    <tr>
        <th>Name</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Supriya</td>
        <td><a href="/home/Details?id=1">Details</a></td>
    </tr>
    <tr>
        <td>Raj</td>
        <td><a href="/home/Details?id=2">Details</a></td>
    </tr>
    <tr>
        <td>Seema</td>
        <td><a href="/home/Details?id=3">Details</a></td>
    </tr>
  
</table>