
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<form method="post" action="/home/register">
    <label>Enter Name</label>
    <br />
    <input type="text" name="name" />
    <br />
    <lable>Enter Email</lable>
    <br />
    <input type="text" name="email" />
    <br />
    <lable>Enter Age</lable>
    <br />
    <input type="number" name="age" />
    <br />
    <lable>Enter phonenumber</lable>
    <br />
    <input type="number" name="phonenumber" />
    <br />
    <label>Enter Password</label>
    <br />
    <input type="password" name="password" />
    <br />
    <label>Enter Confirm Password</label>
    <br />
    <input type="password" name="confirmPass" />
    <br />
    <input type="submit" value="Register" />
    <br />
</form>


